# Visual Studio local settings (always ignore entire folder)
.vs/

# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo

# NuGet packages
packages/

# Logs
Rafeek.API/wwwroot/
Rafeek.API/logs/
/Rafeek.API/nlog_rafeek.txt


