<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<!-- targets -->
	<targets>
		<target xsi:type="File" name="allfile" fileName="logs/all.log" layout="${longdate}|${lowercase:${level}}|${message}" />
		<target xsi:type="File" name="errorLog" fileName="logs/error.log" layout="${longdate}|${lowercase:${level}}|${message}" />
		<target xsi:type="File" name="infoLog" fileName="logs/info.log" layout="${longdate}|${lowercase:${level}}|${message}" />
		<target xsi:type="Console" name="lifetimeConsole" layout="${longdate}|${lowercase:${level}}|${message}" />
	</targets>

	<!-- rules -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="infoLog,allfile">
			<filters>
				<when condition="equals('${aspnet-environment}','Live')" action="Ignore" />
			</filters>
		</logger>
		<logger name="*" minlevel="Error" writeTo="errorLog">
			<filters>
				<when condition="equals('${aspnet-environment}','Live')" action="Ignore" />
			</filters>
		</logger>
		<logger name="*" minlevel="Info" writeTo="lifetimeConsole">
			<filters>
				<when condition="equals('${aspnet-environment}','Live')" action="Ignore" />
			</filters>
			<final>true</final>
		</logger>
	</rules>
</nlog>